[Desktop Entry]
Exec=/bin/bash -c "manjaro-app-folders a"
Name=manjaro-app-folders
Comment=Set Manjaro Gnome Shell app-folders
Type=Application
Icon=applications-system
StartupNotify=false
X-GNOME-Autostart-enabled=true
Hidden=true
