[Desktop Entry]
Name[ca]=Visita guiada
Name[cs]=Prohlídka
Name[da]=Rundvisning
Name[de]=Tour
Name[el]=Ξενάγηση
Name[en_GB]=Tour
Name[es]=Tour
Name[eu]=Bisita
Name[fa]=گردشگری
Name[fi]=Tutustumiskierros
Name[fr]=Visite
Name[fur]=Zîr
Name[gl]=Tour
Name[hr]=Vodič
Name[hu]=Bemutató
Name[id]=Tur
Name[it]=Visita guidata
Name[ja]=ツアー
Name[ko]=투어
Name[lt]=Turas
Name[lv]=Ceļvedis
Name[nl]=Rondleiding
Name[pl]=Przewodnik
Name[pt]=Apresentação
Name[pt_BR]=Tour
Name[ro]=Prezentare
Name[sk]=Prehliadka
Name[sl]=Vodič GNOME
Name[sr]=Обилазак
Name[sv]=Rundtur
Name[tr]=Tur
Name[uk]=Тур
Name[zh_CN]=导览
Name=Tour
GenericName[ca]=Benvinguda i visita guiada
GenericName[cs]=Uvítání a prohlídka
GenericName[da]=Velkomst og rundvisning
GenericName[de]=Tour und Begrüßer
GenericName[el]=Υποδοχή & Ξενάγηση
GenericName[en_GB]=Greeter & Tour
GenericName[es]=Bienvenida y tour
GenericName[eu]=Ongietorria eta bisita
GenericName[fa]=خوش‌آمدگویی و گردشگری
GenericName[fi]=Tutustumiskierros
GenericName[fr]=Accueil et visite
GenericName[fur]=Benvignût e zîr
GenericName[gl]=Iniciador e tour
GenericName[hr]=Dobrodošlica i vodič
GenericName[hu]=Köszöntő és bemutató
GenericName[id]=Penyapa & Tur
GenericName[it]=Visita guidata e accoglienza
GenericName[ja]=案内とツアー
GenericName[ko]=안내자 & 투어
GenericName[lt]=Pasisveikinimas ir turas
GenericName[lv]=Sveicējs un ceļvedis
GenericName[nl]=Ontmoeting & rondleiding
GenericName[pl]=Ekran powitalny i przewodnik
GenericName[pt]=Saudação e Apresentação
GenericName[pt_BR]=Saudação & Tour
GenericName[ro]=Salut și Prezentare
GenericName[sk]=Privítanie a prehliadka
GenericName[sl]=Pozdrav in vodenje po okolju
GenericName[sr]=Водич и обилазак
GenericName[sv]=Hälsare och rundtur
GenericName[tr]=Karşılayıcı ve Tur
GenericName[uk]=Тур і вітання
GenericName[zh_CN]=欢迎界面和导览
GenericName=Greeter & Tour
Type=Application
Exec=gnome-tour-wrapper
Terminal=false
Categories=GNOME;GTK;
Keywords[ca]=Gnome;GTK;
Keywords[cs]=Gnome;GTK;
Keywords[da]=Gnome;GTK;
Keywords[de]=Gnome; GTK;
Keywords[el]=Gnome;GTK;
Keywords[en_GB]=Gnome;GTK;
Keywords[es]=Gnome;GTK;
Keywords[eu]=Gnome;GTK;
Keywords[fa]=Gnome;GTK;گنوم;
Keywords[fi]=Gnome;GTK;
Keywords[fr]=Gnome;GTK;
Keywords[fur]=Gnome;GTK;
Keywords[gl]=GNOME;GTK;
Keywords[hr]=Gnome;GTK;
Keywords[hu]=GNOME;GTK;
Keywords[id]=Gnome;GTK;
Keywords[it]=Gnome;GTK;
Keywords[ja]=Gnome;GTK;
Keywords[ko]=Gnome;GTK;그놈;
Keywords[lt]=Gnome;GTK;
Keywords[lv]=Gnome;GTK;
Keywords[nl]=Gnome;GTK;
Keywords[pl]=GNOME;GTK;
Keywords[pt]=Gnome;GTK;
Keywords[pt_BR]=Gnome;GTK;
Keywords[ro]=Gnome;GTK;
Keywords[sk]=Gnome;GTK;
Keywords[sl]=Gnome;GTK;Vodnik;vodič;pozdrav;
Keywords[sr]=Gnome;GTK;Гном;ГТК;
Keywords[sv]=Gnome;GTK;
Keywords[tr]=Gnome;GTK;
Keywords[uk]=Gnome;GTK;гноме;гном;жтека;гтк;
Keywords[zh_CN]=Gnome;GTK;
Keywords=Gnome;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Tour
StartupNotify=true
OnlyShowIn=GNOME;
NoDisplay=true
