[Desktop Entry]
Name=Beelink
Name[ca]=Beelink
Name[cs]=Beelink
Name[da]=Beelink
Name[de]=Beelink
Name[en_GB]=Beelink
Name[es]=Beelink
Name[eu]=Beelink
Name[fi]=Beelink
Name[fr]=Beelink
Name[hu]=Beelink
Name[ia]=Beelink
Name[it]=Beelink
Name[nl]=Beelink
Name[nn]=Beelink
Name[pl]=Beelink
Name[pt_BR]=Beelink
Name[ru]=Beelink
Name[sk]=Beelink
Name[sl]=Beelink
Name[sv]=Beelink
Name[uk]=Beelink
Name[x-test]=xxBeelinkxx
Name[zh_CN]=Beelink
X-KDE-PluginInfo-Name=Beelink
X-KDE-PluginInfo-Author=Bogdan Covaciu
X-KDE-PluginInfo-Email=bogdan@manjaro.org
X-KDE-PluginInfo-License=CC-BY-SA-4.0
