<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<!-- SCREENSHOT MENU -->
<menu id="screenshot" label="Screenshot">
    <item label="Screenshot in 5">
        <action name="Execute">
            <command>scrot -d 5 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
        </action>
    </item>
    <item label="Screenshot in 10">
        <action name="Execute">
            <command>scrot -d 10 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
        </action>
    </item>
    <item label="Screenshot With Selection">
        <action name="Execute">
            <command>scrot -s &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
        </action>
    </item>
</menu>
<!-- ROOT MENU -->
<menu id="root-menu" label="Openbox 3">
    <separator label="INSTALLER"/>
    <item label="Calamares Installer">
        <action name="Execute">
            <command>calamares_polkit</command>
        </action>
    </item>
    <separator label="SYSTEM TOOLS"/>
    <item label="Terminal">
        <action name="Execute">
            <command>alacritty</command>
        </action>
    </item>
    <item label="Filemanager">
        <action name="Execute">
            <command>pcmanfm</command>
        </action>
    </item>
    <item label="Midnight Commander">
        <action name="Execute">
            <command>alacritty -e mc</command>
        </action>
    </item>
    <item label="Clonezilla">
        <action name="Execute">
            <command>alacritty -e "sudo clonezilla"</command>
        </action>
    </item>
    <item label="Gparted">
        <action name="Execute">
            <command>gparted</command>
        </action>
    </item>
    <item label="Testdisk">
        <action name="Execute">
            <command>alacritty -e "sudo testdisk"</command>
        </action>
    </item>
    <menu id="screenshot"/>
    <menu id="applications" label="Applications" execute="/usr/bin/obmenu-generator -S ~/.config/obmenu-generator/applications.pl"/>
    <separator/>
    <item label="Exit Openbox">
        <action name="Execute">
            <command>rofr.sh -l</command>
        </action>
    </item>
</menu>
</openbox_menu>
